.register-input {
    border: 1px solid #e2e8f0;
    padding: .7em;
    border-radius: 6px;
}


.register-button {
    color: black;

    svg {
        fill: black;
    }
}



#buttonSend {
    background: linear-gradient(45deg, rgba(0, 213, 255, 0.9176470588),
     rgba(80, 229, 255, 0.603)) !important;

    .loader {
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: radial-gradient(farthest-side, #fffdf8 94%, rgba(0, 0, 0, 0)) top / 8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #ffe3fe);
        -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
        animation: l13 1s infinite linear;
        margin: 0 auto;
        height: 20px;
    }

    @keyframes l13 {
        100% {
            transform: rotate(1turn)
        }
    }
}


.register-message{
    text-align:center;
    color:red;
    transition:all 200ms ease;
    margin-top:10px;
    height:25px;
}



.link-login{
    color:rgba(0, 213, 255, 0.918);
}

input{
    caret-color: rgba(0, 213, 255, 0.9176470588);
    color: rgba(48, 67, 70, 0.918);
}