.menuMobile{
    background:rgba(0, 0, 0, 0.596);
    width:100%;
    height: calc(100% - 64px);
    position: absolute;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(.4px);
    top: 64px;
    transition:all 200ms ease;

    .menuMobile_content{
        background: white;
        width: 80%;
        max-width: 300px;
        height:100%;
        max-width:260px;
        opacity:0;
        transform:translateX(-100%);
    }
}


@keyframes fade{
    from{
        opacity:0;
        transform:translateX(-100%);
    }

    to{
        opacity:1;
        transform:translateX(0%);
    }
}


@keyframes retro{
    from{
        opacity:1;
        transform:translateX(0%)
    }
    to{
        opacity:0;
        transform:translateX(-100%);
    }
}