/*[data-tag="allowRowEvents"]>[data-tag="allowRowEvents"] {
    width: 100%;

}

[role="cell"]>div>span {
    background: rgb(204, 255, 204) !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}
*/


#containerTable > div.sc-eUlrpB.hZZlND{
    /*max-height:65%;*/
    max-height:16000px;
    height:65%;
    overflow:auto !important;

}

/*
.sc-eUlrpB, .hZZlND{
    max-height:65%;
    overflow:auto;
    overflow-y:auto !important;
}*/

#containerTable > div.sc-eUlrpB.hZZlND::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}


#containerTable > div.sc-eUlrpB.hZZlND::-webkit-scrollbar-track {
    background: #f0f0f027;

    border-radius: 5px;

}


#containerTable > div.sc-eUlrpB.hZZlND::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ba79ff63, #7dadff59);
    border-radius: 5px;
    border: 1px solid #f0f0f0;

}


#containerTable > div.sc-eUlrpB.hZZlND::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ba79ff98, #7dadff60);
    cursor: pointer;
    
}

#containerTable > div.sc-eUlrpB.hZZlND::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(45deg, #6b11cb54, #2574fc81);
}



#containerTable>div.sc-eUlrpB.hZZlND>div>div>div.sc-gtLWhw.caNzNe.rdt_TableHead>div {
    background: #faf9ff;
}


#containerTable {
    border: none;
    outline: 2px solid #faf9ff;

}



#containerTable>div.sc-eauhAA.bzRuyo.rdt_TableHeader>div {
    font-weight: 700;
}



/*
#pagination-next-page:hover{
    background:linear-gradient(45deg, #ba79ff3b, #7dadff5b);
}*/



/*checkbox*/

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffdffc23;
    border: 1px solid #f0ecf1;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: all 0.2s ease-in-out;
}


input[type="checkbox"]:checked {
    background-color: rgb(253, 241, 255);
    border-color: rgb(253, 241, 255);
}


input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input[type="checkbox"]:hover {
    border-color: #ffd4fd;
    box-shadow: 0 0 5px rgba(255, 223, 255, 0.2);
}

input[type="checkbox"]:focus {
    outline: 2px solid rgb(241, 164, 255);
}




@media (min-width:770px) and (max-width:900px){
    #containerTable{
        width:595px
    }
}


@media (min-width:901px) and (max-width:1200px){
    #containerTable{
        width:700px;
    }
}

@media (min-width:1201px) and (max-width:1800px){
    #containerTable{
        width:1075px;
    }
}
