#login-inputUserName {
    border: 1px solid #e2e8f0;
    padding: .7em;
    border-radius: 6px;
} // Added missing closing brace

#login-inputPassword {
    border: 1px solid #e2e8f0;
    padding: .7em;
    border-radius: 6px;
} // Added missing closing brace

#login-buttonSend {
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 213, 255, 0.9176470588), rgba(80, 229, 255, 0.603)) !important;
} // Added missing closing brace

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #fffdf8 94%, rgba(0, 0, 0, 0)) top / 8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #ffe3fe);
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
    margin: 0 auto;
    height: 20px;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

#login-messageLogin {
    opacity: 0;
    height: 25px;
    transition: all 200ms ease;
    text-align: center;
    margin-top: 1em;
}

#login-button-1 {
    color: black;
}

#login-button-2 {
    color: black;
    svg {
        fill: black;
    }
}









#login-inputUserName{
    caret-color: rgba(0, 213, 255, 0.9176470588);
    color: rgba(48, 67, 70, 0.918);
}


#login-inputPassword{
    caret-color: rgba(0, 213, 255, 0.9176470588);
    color: rgba(48, 67, 70, 0.918);
}


.login-space{
    

    @media (max-width:768px){
        height:0;
    }
}